/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	float: left;
}
body {
	line-height: 1;
	overflow-x:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.no{padding:0 0 0 15px!important;background: none!important}
.none{display: none!important;}
/*END Reset*/


/*START Structure*/

/*Font Face*/
@font-face {
    font-family: 'AntennaBold';
    src: url('../fonts/antenna-bold.eot');
    src: url('../fonts/antenna-bold.eot') format('embedded-opentype'),
         url('../fonts/antenna-bold.woff') format('woff'),
         url('../fonts/antenna-bold.ttf') format('truetype'),
         url('../fonts/antenna-bold.svg#AntennaBold') format('svg');
}
@font-face {
    font-family: 'AntennaLight';
    src: url('../fonts/antenna-light.eot');
    src: url('../fonts/antenna-light.eot') format('embedded-opentype'),
         url('../fonts/antenna-light.woff') format('woff'),
         url('../fonts/antenna-light.ttf') format('truetype'),
         url('../fonts/antenna-light.svg#AntennaLight') format('svg');
}
@font-face {
    font-family: 'AntennaRegular';
    src: url('../fonts/antenna-regular.eot');
    src: url('../fonts/antenna-regular.eot') format('embedded-opentype'),
         url('../fonts/antenna-regular.woff') format('woff'),
         url('../fonts/antenna-regular.ttf') format('truetype'),
         url('../fonts/antenna-regular.svg#AntennaRegular') format('svg');
}
@font-face {
    font-family: 'AntennaThin';
    src: url('../fonts/antenna-thin.eot');
    src: url('../fonts/antenna-thin.eot') format('embedded-opentype'),
         url('../fonts/antenna-thin.woff') format('woff'),
         url('../fonts/antenna-thin.ttf') format('truetype'),
         url('../fonts/antenna-thin.svg#AntennaThin') format('svg');
}
/*END - Font Face*/

#container{margin: 0 auto;position: relative}


.wrap.home{height: 1062px;background: url(../img/bg-home.png)}

.wrap.servicos{height: 1062px;background: url(../img/bg-servicos.png)}
.wrap.logistica{height: 1062px;background: url(../img/bg-log.png)}
.wrap.frio{height: 1062px;background: url(../img/bg-frio.png)}
.wrap.footer{height: 1062px;background: url(../img/bg-footer.png)}



/*Divs de cada area da HOME*/
#div-home{width: 1260px;height: 1485px;;margin: 0 auto;position: relative;}
#div-servicos{width: 1260px;height: 1062px;margin: 0 auto;position: relative;overflow: hidden;}
#div-logistica{width: 1260px;height: 1062px;margin: 0 auto;position: relative;overflow: hidden;}
#div-frio{width: 1260px;height: 1062px;margin: 0 auto;position: relative;overflow: hidden;}
#div-footer{width: 1260px;height: 1062px;margin: 0 auto;position: relative;overflow: hidden;}

;




/*END - Divs de cada area da HOME*/
/*header*/
.logoTrino{float:left;}
.area-restrita{width: 795px;border-radius: 0 0 10px 10px;float: left; margin: 0 0 15px 40px; padding: 20px;text-align: center;background: #fff}
.restrito{width: 365px;float:left;text-decoration: none;}
.restrito a{font-family: 'AntennaLight';font-size: 10px;color:#636363;position: relative;top: 3px;}
.restrito span{color: #404041;font-family: 'AntennaRegular';font-size: 14px;margin: 5px 0 0 }
.restrito span em{color: #bf1e2e;font-family: 'AntennaRegular';}
.img-acesso{width: 179px;height: 15px; background: url(../img/img-acesso.png) no-repeat;display: block;float: right}
.form-restrito input{width:105px;border-radius: 10px;padding: 0 10px;color:#bec1bf;;margin: 0 0 0 18px;}
.button{width: 83px;height: 26px;background: url(../img/bt-login.jpg) no-repeat;text-indent: -999em;border:0;border-radius: 0px!important;cursor:pointer;}
.lista{width:750px;height:50px;background: url(../img/ul-repeat.jpg) repeat-x 0 top;float:left;padding-top: 30px;margin: 0 0 0 105px;}
.lista li a{color:#636363;font-size: 14px;font-family: 'AntennaBold';float:left;padding:0 10px;text-decoration: none;background: url(../img/border-li.jpg) no-repeat right 0;}
.active a{color:#bf1e2e!important;}
/*END - header*/

.formiga{width: 358px;height: 504px;background: url(../img/formiga.png) no-repeat 0 0;display:block;position: relative;top: 500px}

.formiga span{position: absolute;top: 225px;left:85px;color:#bf1e2e;font-size: 24px;font-family: 'AntennaRegular';}























